html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.1em;
  text-align: center;
  color: #FFFFFF;
}

.main header,
.main footer,
.hg-sidebar,

.main-contact {
  padding: 20px;
}

.main header,
.main footer {
  background: #FED0D1;
}

.hg-sidebar {
  background: #F34A4E;
}

.main-content {
  color: #777777;
}

.main {
  min-height: 100vh;
}

.main,
.main-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.main-content {
  flex: 1 1 auto;
}

@media (min-width: 768px) {
  
  .main-sidebar-1 {
    order: -1;
  }
  
  .main-body {
    flex-direction:row;
  }
  
  .hg-sidebar {
    flex: 0 0 260px;
  }
}


.forpage2:

html{
  font-size: 100%; 
  font-family: sans-serif;
}

body{
  background: darkblue; 
  padding: 0; 
  margin:0; 
}

header{
  background: white; 
  padding: 50px; 
  margin-bottom: 50px; 
}

.post{
  background: white; 
}

img{
  padding: 50px; 
  padding-bottom:0px; 
}

#column{
  margin: 0 auto; 
  width: 500px; 
}

p{
  padding: 50px; 
}

.chart-container {
  width: 400px;
  height: 300px;
}

.chart-card {
  width: 400px;
  height: 300px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fancyBarChart {
  width: 100%;
  height: 100%;
}
